.contenedor{
  position: relative;
  width: 80%;
  top: 50px;
  left: 46px;
  margin: 0px auto;
  margin-top: -90px;
  
}

.fila{
  position: relative;
  top: 86px;
}

.grupo-boton{
  position: relative;
  top: 40px;
  left: 45px;
}

#sortAsc,#sortDesc,#sortByCount{
  cursor: pointer;
}

/*Estilos para product.html*/

#listProduct{
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 80px;
}

.contProduct{
  margin-bottom: 30px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.contProduct:nth-child(1){
  border-top: none;
}

.imagen{
  width: 200px;
  height: 120px;
  float: left;
  margin-right: 30px;
}

/*Estilo para el nombre Usuario*/
/*.usuario{
  padding-top: 10px;
  padding-bottom: 10px;
}*/
.item-sub-menu{
  padding-top: 10px;
  padding-bottom: 10px;
}
.desplegable{
  padding: 0px;
}

.barra-divisora{
  margin: 0px;
}

.usuario:hover{
  color: #53C0FB;
  text-decoration: none;
}

/*Estilo para mensaje de error*/
#error{
  display: none;
  text-align: center;
  background-color: #f5bdc6;
  color: #ffffff;
  border: 3px solid rgb(209, 76, 76);
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: fixed;
  bottom: -100px;
  right: 0px;
  animation-name: animacionError;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 2s;
}

#error p{
  font-size: 25px;
  line-height: 50px;
}

@keyframes animacionError{
  from{
    bottom: -100px;
  }
  to{
    bottom: 0px;
  }
}

/*Estilo para los filtros de la lista producto*/

.filtrosP{
  margin-top: 0px;
  position: relative;
  top: 74px;
  left: 62px;
}


#perfil:hover, #logout:hover{
  background-color: #53C0FB;
}

/*Estilo para la busqueda*/

#busqueda{
 position: relative;
 top: 86px;
}

#busqueda:focus{
  outline: 4px solid rgba(128, 189, 255, 0.7);
}


/**********************Estilos para Comentarios Producto INFO****************************************/

#comentarios{
  margin-top: 20px;
}

#addComment{
  background-color: #f0f0f0;
}

.descriptionComment{
  margin-top: 20px;
  width: 80%;
}

.descriptionComment:focus{
  outline: 1px solid gray;
}

#send{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #242831;
  color: white;
  border-radius: 5px;
}

#send:hover{
  background-color: #6e7a92;
}

.comentContainer{
  background-color: #f0f0f0;
  border-radius: 5px;
  /*box-shadow: 10px 5px 0 2px #c3c3c3;*/
  box-shadow: 10px 6px 0 2px #474545;
  margin-top: -9px
}

.userAndScore{
  color: #9bc2d5;
  margin-left: 60px;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 18px;
}

.userAndScore span{
  float: right;
}

.userAndScore span:nth-child(1){
  margin-right: 60px;
}

.checked{
  color: orange;
}

.timeComment{
  color: grey;
  margin-top: -20px;
  margin-left: 60px;
  font-size: 14px;
}

.descriptionComment{
  color: black;
  margin-left: 60px;
  padding-bottom: 10px;
}

p input{
  width: 60px;
  text-align: center;
}


/*******************************************************/
.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}