.contenedor{
  position: relative;
  width: 80%;
  top: 50px;
  left: 46px;
  margin: 0px auto;
  margin-top: -90px;
  
}

.fila{
  position: relative;
  top: 86px;
}

.grupo-boton{
  position: relative;
  top: 40px;
  left: 45px;
}

#sortAsc,#sortDesc,#sortByCount{
  cursor: pointer;
}

/*Estilos para product.html*/

#listProduct{
  width: 90%;
  height: auto;
  margin: 0px auto;
  margin-top: 80px;
}

.contProduct{
  margin-bottom: 30px;
  border-top: 1px solid gray;
  padding-top: 20px;
}

.contProduct:nth-child(1){
  border-top: none;
}

.imagen{
  width: 200px;
  height: 120px;
  float: left;
  margin-right: 30px;
}

/*Estilo para el nombre Usuario*/
/*.usuario{
  padding-top: 10px;
  padding-bottom: 10px;
}*/
.item-sub-menu{
  padding-top: 10px;
  padding-bottom: 10px;
}
.desplegable{
  padding: 0px;
}

.barra-divisora{
  margin: 0px;
}

.usuario:hover{
  color: #53C0FB;
  text-decoration: none;
}

/*Estilo para mensaje de error*/
#error{
  display: none;
  text-align: center;
  background-color: #f5bdc6;
  color: #ffffff;
  border: 3px solid rgb(209, 76, 76);
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: 50px;
  margin: 0px auto;
  position: fixed;
  bottom: -100px;
  right: 0px;
  animation-name: animacionError;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transition: all 2s;
}

#error p{
  font-size: 25px;
  line-height: 50px;
}

@keyframes animacionError{
  from{
    bottom: -100px;
  }
  to{
    bottom: 0px;
  }
}

/*Estilo para los filtros de la lista producto*/

.filtrosP{
  margin-top: 0px;
  position: relative;
  top: 74px;
  left: 62px;
}

.filterButtons{
  z-index: 200000000;
}


#perfil:hover, #logout:hover{
  background-color: #53C0FB;
}

/*Estilo para la busqueda*/

#busqueda{
 position: relative;
 top: 86px;
}

#busqueda:focus{
  outline: 4px solid rgba(128, 189, 255, 0.7);
}






/**********************Estilos para Comentarios Producto INFO****************************************/

#carouselExampleIndicators{
  max-width: 700px;
  height: auto;
  margin: 0px auto;
  margin-bottom: 40px;
  border: 2px solid gray;
  border-radius: 5px;
}

#carouselExampleIndicators img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.botonAtras:hover,
.botonSiguiente:hover{
  background-color: rgba(0,0,0,0.5);  
}
.botonAtras::before{
  content: "<";
  font-size: 40px;
}

.botonSiguiente::after{
  content: ">";
  font-size: 40px;
}

#relatedProducts{
  width: 100%;
  height: 400px;
  color: red;
}



.card{
  display: inline-block;
  width: 250px;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: transform 1s;
}

.card a{
  text-decoration: none;
}

.card:hover{
  transform: scale(1.1);
}

.card:nth-child(2){
  margin-left: 20px;
}


.card .imageCard{
  width: 100%;
  height: 170px;
}


.descriptionCard{
  height: 120px;
  text-align: center;
  padding-top: 13px;
}

.descriptionCard h3{
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

.descriptionCard p{
  color: #c4c4c4;
  font-size: 14px;
}

.footerCard{
  height: 100px;
  color: white;
  background-color: #e45889;
  margin-top: 9px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footerCard .cost,
.footerCard .sold{
  display: inline-block;
  width: 120px;
  text-align: center;
}


.cost p{
  margin-top: 30px;
  border-right: 1px solid black;
}

.cost span,
.sold span{
  display: block;
  font-weight: bolder;
}


@media (max-width: 768px){
  #relatedProducts{
    height: auto;
  }
  .card:nth-child(2){
    margin-left: 0px;
  }
}

h2 {
  margin-top: 30px;
}

#comentarios{
  margin-top: 20px;
}

#addComment{
  background-color: #f0f0f0;
}

.descriptionComment{
  margin-top: 20px;
  width: 80%;
}

.descriptionComment:focus{
  outline: 1px solid gray;
}

#send{
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: #242831;
  color: white;
  border-radius: 5px;
}

#send:hover{
  background-color: #6e7a92;
}

.comentContainer{
  background-color: #f0f0f0;
  border-radius: 5px;
  /*box-shadow: 10px 5px 0 2px #c3c3c3;*/
  box-shadow: 10px 6px 0 2px #474545;
  margin-top: -9px
}

.userAndScore{
  color: #9bc2d5;
  margin-left: 60px;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 18px;
}

.userAndScore span{
  float: right;
}

.userAndScore span:nth-child(1){
  margin-right: 60px;
}

.checked{
  color: orange;
}

.timeComment{
  color: grey;
  margin-top: -20px;
  margin-left: 60px;
  font-size: 14px;
}

.descriptionComment{
  color: black;
  margin-left: 60px;
  padding-bottom: 10px;
}

p input{
  width: 60px;
  text-align: center;
}

#avisoComment{
  
  background-color: lightgreen;
  color: white;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid green;
  border-radius: 5px;
  position: fixed;
  top: 40px;
  right: 0px;
  z-index: 200000;
}


/*******************************************************/
.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#footerCart{
  margin-top: 100px;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}



/*************Estilos para pagina CART.html**********************/
#methodSend{
  display: inline-block
}
#methodSend input{
  margin-left: 10px;
  color: rgb(66, 66, 66);
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
  letter-spacing: 2px;
}


button{
  float: left;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: #0087F7;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
}

button:hover{
  transition: all 300ms;
  opacity: 0.7;
}

input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}


#alertSend{
  width: 250px;
  height: 50px;
  background-color: greenyellow;
  color: white;
  line-height: 50px;
  text-align: center;
  border: 1px solid darkgreen;
  border-radius: 5px;
  position: fixed;
  top: 60px;
  right: 0px;

}



/**********************************FORMAS DE PAGO****************************/

.modal-body span{
  color: black;
  font-weight: bold;
}

.modal-body input{
  width: 200px;
  height: 40px;
  padding: 10px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-left: 5px;
  outline: none;
}

.modal-body #expireM,
.modal-body #expireY{
  width: 50px;
}

.modal-body .cvc{
  margin-left: 30px;
}


.modal-body #cvc{
  width: 50px;
}


.modal-body .alertMessagge{
  background-color: red;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  margin-top: 10px;
}




#alertSendPurchase{
  display: none;
  color: white;
  background-color: red;
  width: auto;
  padding: 8px;
  margin-top: 10px;
  border-radius: 10px;
}

#totalEnvio{
  width: auto;
  float: right;
  margin-top: 30px;
  
}

#totalEnvio p:nth-child(1),
#totalEnvio p:nth-child(3){
  text-align: right;
  font-size: 18px;
  margin-right: 60px;
}

#totalEnvio p:nth-child(3){
  margin-right: 94px;
}
#totalEnvio p:nth-child(2){
  width: 50px;
  height: 40px;
  text-align: center;
  margin-top: -35px;
  margin-left: 100px;
  margin-bottom: 25px;
  font-size: 60px;
}


#totalEnvio p:nth-child(4){
  text-align: right;
  color: orange;
  font-size: 30px;
  margin-right: 30px;
}

#totalEnvio p span{
  border-top: 1px solid black;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
#completeBuy{
  background-color: red;
  width: 100%;
  height: 50px;
}
#completePurchase{
  background-color: rgb(37, 158, 37);
  color: white;
  margin-top: 60px;
  float: left;
  margin-bottom: 100px;
}

#modal-body .error,
#modal-body .correct{
  background-color: rgb(228, 73, 73);
  color: white;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 4px 0px black;
}

#modal-body .error i,
#modal-body .correct i {
  font-size: 30px;
  margin-left: 10px;
  color: red;
  background-color: white;
  border: 1px solid red;
  border-radius: 100%;
  position: relative;
  top: 3px;
  left: 17px;
}

#modal-body .correct{
  background-color: rgb(27, 153, 27);
}

#modal-body .correct i{
  color: rgb(21, 150, 21);
  border: 1px solid rgb(65, 163, 65);
  left: 21px;
}

@media (max-width:767px){
  #totalEnvio{
    display: block;
    float: none;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}






/**************ESTILOS DE PRUEBA PARA LA TABLA DE PRODUCTOS**********/


#tableHead{
  width: 100%;
  height: 80px;
  font-family: 'Roboto',sans-serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#tableHead p{
  display: inline-block;
  width: 20%;
  line-height: 80px;
  margin-bottom: 0px;
}

#tableHead p:nth-child(1){
  width: 30%;
  margin-left: 20px;
}

#tableBody{
  width: 100%;
  height: auto;
  font-family: 'Roboto',sans-serif;
}

#tableBody .productRow{
  width: 100%;
  height: 120px;
  border-bottom: 1px solid black;
}

#tableBody .productRow:hover{
  transition: all 300ms;
  background-color: lightgrey;
  
}

#tableBody .productRow div{
  display: inline-block;
  width: 60%;
  height: 120px;
  margin-bottom: 0px;
  
}

#tableBody .productRow div:nth-child(1){
  width: 30%;
}

#tableBody .productRow div:nth-child(1) img{
  width: 130px;
  height: 100px;
  position: relative;
  top: -64px;
}

#tableBody .productRow div:nth-child(1) p{
  display: none;
}

#tableBody .productRow div:nth-child(2) p{
  display: inline-block;
  width: 20%;
}

.productRow div:nth-child(2) p:nth-child(1){
  margin-left: 20px;
  margin-top: 40px;
}

.productRow div:nth-child(2) p:nth-child(2){
  margin-left: 40px;
  position: relative;
  top: -30px;
}

.productRow div:nth-child(2) p:nth-child(3){
  margin-left: 50px;
  position: relative;
  top: -30px;
}

.cross{
  position: relative;
  top: -75px;
  right: -325px;
  color: gray;
}

.cross:hover{
  color: black;
  cursor: pointer;
}

.fa-plus{
  color: gray;
  position: relative;
  top: -33px;
  left: 64px;
}

.fa-minus{
  color: gray;
  position: relative;
  top: -19px;
  left: 46px;
  
}

.fa-minus:hover,
.fa-plus:hover{
  color: black;
  cursor: pointer;
}

#subtotal{
  color: #0087F7;
  text-align: right;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
}

@media(max-width:520px){
  .productRow div:nth-child(2) p:nth-child(3){
    top: -100px;
    left: 180px;
  }

  .cross{
    top: -100px;
    right: -205px;
  }
}

@media(max-width: 778px){
  #listProduct{
    text-align: center;
  }
}


@media (min-width:768px){
  #tableBody .productRow div:nth-child(1) img{
    top: -25px;
  }

  .fa-minus{
    left: 67px;
  }

  .fa-plus{
    top: -7px;
    left: 2px;
  }

  .productRow div:nth-child(2) p:nth-child(2){
    margin-left: 63px;
  }

  .cross{
    top: -60px;
    right: -40px;
  }
}

@media (min-width:992px){
  #tableBody .productRow div:nth-child(1) img{
    top: 3px;
  }

  .fa-minus{
    left: -16px;
    top: 7px;
  }
  .productRow div:nth-child(2) p:nth-child(2){
    top: -4px;
    margin-left: 85px;
  }

  .productRow div:nth-child(2) p:nth-child(3){
    top: -4px;
    margin-left: 75px;
  }

  .cross{
    top: -30px;
    right: -76px;
  }
  
  
}

@media (min-width:1200px){
  #tableBody .productRow div:nth-child(1) p{
    display: inline-block;
    margin-left: 20px;
  }
  .productRow div:nth-child(2) p:nth-child(3){
    margin-left: 100px;
  }
}